<div id="<%= dom_id adress %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= adress.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= adress.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= adress.location %>
  </p>

</div>
